<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Create a story!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <h1>Enter a word!</h1>
    <div class="row">
      <div class="col-md-6">
        <form action="/score" method="post">
          <label for="words">Name</label>
          <input id="words" name="words" type="text">
          <button type="submit">Go!</button>
        </form>
      </div>
    </div>

  </div>
</body>
</html>
